
.inscriptionContainer {
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .inscriptionContainer h2 {
    color: #345c94;
    font-size: 24px;
    text-align: center;
  }
  
  .inscriptionContainer .statusMessage {
    color: #d6aa81;
    text-align: center;
  }
  
  .inscriptionContainer .inscriptionForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inscriptionContainer .inscriptionForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .inscriptionContainer .inscriptionForm button {
    padding: 10px;
    background-color: #345c94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inscriptionContainer .inscriptionForm button:hover {
    background-color: #2d4b7c;
  }